
:root {
    --text-color-primery: #757575;
    --title-text-color: #212121;
    --text-color-secondary: #ffffff;
    --text-address-color: rgba(255, 255, 255, .6);
    --logo-color: #000000;
    --closing-button-fill: #000000;
    --closing-button-border: rgba(0, 0, 0, .1);
    --text-placeholder: rgba(117, 117, 117, .5);
    --footer-input-border: rgba(255, 255, 255, .3);

    --accent-color: #2196f3;
    --accent-color-hover: #188ce8;
    --accent-color-overlay: rgba(33, 150, 243, .9);

    --background-header: #ffffff;
    --background-modal: #ffffff;
    --background-hero: #c4c4c4;
    --background-footer: #2f303a;
    --background-team-section: #f5f4fa;
    --background-filter-features: #f5f4fa;
    --background-card: #ffffff;
    --header-line: #ececec;
    --border-works-card-description: #eeeeee;
    --icon-color-primary: #afb1b8;
    --background-footer-icon: rgba(255, 255, 255, .1);
    --cases-overlay: rgba(47, 48, 58, 0.8);
    --background-overlay-modal: rgba(0, 0, 0, .2);
    --form-field-border: rgba(33, 33, 33, .2);


    --margin-card: 30px;

    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

body {
    color: var(--text-color-primery);
    font-family: 'Roboto', sans-serif;}


ul {
    list-style: none;

    margin: 0;
    padding: 0;}

a {
    text-decoration: none;
    color: inherit;}

button {
    cursor: pointer;}

h1,h2,h3,h4,p {
    margin: 0 auto;}

.picture {
    display: block;
    max-width: 100%;
}

/* SECTIONS-CONTAINER */
section {
    padding: 94px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
   
}

/* HEADER */


header {
    background-color: var(--background-header);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding: 24px 0;
    border-bottom: 1px solid var(--header-line);
    }

.container.page-header {
    display: flex;
    justify-content: space-between;
    }

.main-nav, .nav-contact {
    display: flex;
    align-items: center;
    }

.main-nav .logo {
    margin-right: 93px;}

.nav-item {
    display: flex;}
.nav-item:not(:last-child), 
.nav-contact-item:not(:last-child) {
    margin-right: 50px;}

.nav-link {
    color: var(--title-text-color);

    transition: color 250ms var(--transition-timing-function);
}

.nav-link:hover,
.nav-link:focus,
.current a {
    color: var(--accent-color);}

.current {
    position: relative;
}

.current::after {
   position: absolute;
   bottom: -32px;
   left: 0;

   display: block;
   content: '';
   width: 100%;
   height: 4px;
   background-color: var(--accent-color);
   border-radius: 4px; 
}

.mailto-icon {
    height: 12px; 
    width: 16px;
    margin-right: 10px;
    fill: currentColor;

    transition: fill 250ms var(--transition-timing-function);
}

.phone-icon {
    margin-right: 10px;
    fill: currentColor;
    text-align: center;

    transition: fill 250ms var(--transition-timing-function);
}

.contact {
    color: var(--text-color-primery);

    transition: color 250ms var(--transition-timing-function);
}

.contact:hover,
.contact:focus {
    color: var(--accent-color);
}
.contact:hover .mailto-icon, 
.contact:focus .mailto-icon,
.contact:hover .phone-icon,
.contact:focus .phone-icon {
    fill: var(--accent-color);}
 

.logo {
    color: var(--logo-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo .part {
    color: var(--accent-color);
}


/* TITLES */
.title {
    color: var(--title-text-color);
    font-weight: 700;}

.features-title, 
.cases-title, 
.team-title, 
.works-title, 
.clients-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

/* HERO */

.hero {max-width: 100%;
    color: var(--text-color-secondary);
    background-color: var(--background-hero);
    border: 1px solid #000000;
    text-align: center;
    padding: 200px 0;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-team.jpg);
    max-width: 1600px;
    max-height: 600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    width: 696px;
    margin-bottom: 30px;
}

.hero-button {
    color: inherit;
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    padding: 10px 32px;
    border: none;
    border-radius: 4px;

    transition: background-color 250ms var(--transition-timing-function);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--accent-color-hover);
}

/* FEATURES */

.features {
    padding-bottom: 0;}

.features-list {
    display:flex;}

.features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--background-filter-features);
    
    margin-bottom: var(--margin-card);
   }

.features-item {
    flex-basis: calc((100% - (3 * var(--margin-card))) / 4);}

.features-item + .features-item {
    margin-left: var(--margin-card);}


.features-item-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    
    margin-bottom: 10px;
    }
       
.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;}


    /* CASES */

.cases-list {
    display: flex;
    justify-content: space-between;}

.cases-item {
    position: relative;
}

.cases-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    color: var(--text-color-secondary);
    text-align: center;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;

    padding: 27px 0;
    background-color: var(--cases-overlay);
}


/* TEAM */
.team {
    background-color: var(--background-team-section);}

.team-list {
    display: flex;
    justify-content: space-between;}

.team-card {
    background-color: var(--background-card);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-description {
    padding: 30px 32px;}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    
    margin-bottom: 10px;}
    
.team-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    
    margin-bottom: 16px
    ;}

.team-description-socials {
    display: flex;
    justify-content: center;
    }


.socials-item + .socials-item {
    margin-left: 10px;}

.socials-item-link {
    display: block;
    height: 44px;
    width: 44px;
    padding: 12px;
    fill: var(--text-color-secondary);
    border-radius: 50%;

    transition: background-color 250ms var(--transition-timing-function)
    }

.socials-item-link:hover,
.socials-item-link:focus {
    background-color: var(--accent-color);
    }
 

.team-icon {
    fill: var(--icon-color-primary);
    transition: fill 250ms var(--transition-timing-function);
}

.socials-item-link:hover .team-icon,
.socials-item-link:focus .team-icon {
    fill: var(--text-color-secondary);}
 


/* CLIENTS */

.clients-list {
    display: flex;
    justify-content: space-between;
}

.clients-link {
    cursor: pointer;
    display: block;
    height: 92px;
    width: 170px;
    border: 1px solid var(--icon-color-primary);
    border-radius: 4px;
    padding: 16px 32px;

    transition: border 250ms var(--transition-timing-function)
}


.clients-link:hover, 
.clients-link:focus {
    border: 1px solid var(--accent-color);}

.clients-icon {
    fill: var(--icon-color-primary);
    transition: fill 250ms var(--transition-timing-function)
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon
 {
    fill: var(--accent-color);}


/* PORTFOLIO */

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-item:not(:last-of-type) {
    margin-right: 8px;}

.filter-button {
    color: var(--title-text-color);
    background-color: var(--background-filter-features);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    
    padding: 6px 22px;
    border: none;

    transition: color 250ms var(--transition-timing-function),  
    background-color 250ms var(--transition-timing-function), 
    border-radius 250ms var(--transition-timing-function), 
    box-shadow 250ms var(--transition-timing-function)
}

.filter-button:hover, 
.filter-button:focus {
    color: var(--text-color-secondary);
    background-color: var(--accent-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

.works-card-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin-card));
    margin-top: calc(-1 * var(--margin-card));
}
    
.works-card {
    background-color: var(--background-card);
    flex-basis: calc((100% - (2 * var(--margin-card))) / 3);
    margin-left: var(--margin-card);
    margin-top: var(--margin-card);

    transition: border 250ms var(--transition-timing-function),
    box-shadow 250ms var(--transition-timing-function);
}

.works-card-link:hover .works-card, 
.works-card-link:focus .works-card {
    border: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06),
     1px 4px 6px rgba(0, 0, 0, 0.16);}

.works-card-thumb {
    position: relative;
    width: 370px;
    height: 294px;

    overflow: hidden;
}

.works-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color-overlay);
    padding: 63px 24px;
    
    transform: translateY(100%);
    transition: transform 250ms var(--transition-timing-function);

}

.overlay-text {
    font-weight: inherit;
    font-size: 18px;
    line-height: 1.56;
    color: var(--text-color-secondary);
    
}

.works-card-link:hover .works-card-overlay,
.works-card-link:focus .works-card-overlay {
    transform: translateY(0);
    }


.card-description {
    padding: 20px 24px;
    border: 1px solid var(--border-works-card-description);
    border-top-width: 0;}

.works-card-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    margin-bottom: 4px;}

.works-card-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    }


/* FOOTER */

footer {
    background-color: var(--background-footer);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    padding: 60px 0;}

.page-footer {
    display: flex;
    color: var(--text-color-secondary);
}

.page-footer .logo {
    color: inherit;
    display: inline-block;
    margin-bottom: 20px;}

.footer-address {
    min-width: 216px;
}

.footer-socials {
    margin-left: 70px;
    margin-top: 12px;
}


.footer-socials-list {
    display: flex;
    justify-content: center;

}

.mail {color: var(--text-address-color);
    font-style: normal;
    
    margin-bottom: 9px;}

.location {
    color: inherit;}

.footer-contact {
    display: block;}
.footer-contact:not(:last-of-type) {
    margin-bottom: 9px;}

.footer-socials-icon {
    fill: var(--text-color-secondary);}

.socials-background {
    background-color: var(--background-footer-icon);
    border-radius: 50%;
}

.footer-form {
    width: 570px;
    margin-top: 12px;
    margin-left: auto;
}

.footer-form-item {
    position: relative;
}

.form-field.footer-form-field {
    margin: 0;
    width: 355px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid var(--footer-input-border);
    border-radius: 4px;
    background-color: inherit;
    color: var(--text-address-color);
}
.form-field.footer-form-field::placeholder {
    color: var(--text-address-color);
}


.footer-socials-text {
    display: inline-block;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    
    margin-bottom: 20px;
}

.form-button.footer-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 11px;
}

.footer-button-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    
}

/* MODAL */

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--background-overlay-modal);

    opacity: 1;
    transition: opacity 250ms var(--transition-timing-function), 
    visibility 250ms var(--transition-timing-function);
    }

.modal-backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    }

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 530px;
    height: 600px;
    background-color: var(--background-modal);
    border-radius: 4px;
    padding: 40px;
    overflow-y: auto;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--transition-timing-function);
    
  }

.modal-backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(.9);
    }

.modal-closing-button {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
    border: 1px solid var(--closing-button-border);
    border-radius: 50%;
    padding: 5px;
    background-color: var(--background-modal);
}

.closing-icon {
    fill: var(--closing-button-fill);
    transition: fill 250ms var(--transition-timing-function);
}
.closing-icon:hover,
.closing-icon:focus {
    fill: var(--accent-color);
}

form {
    width: 100%;
    max-height: 100%;
    }

.form-item {
    position: relative;
    margin-bottom: 10px;
}

.form-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
 } 

  .form-text {
    display: block;
    font-weight: inherit;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
 }

 .form-field {
    width: 100%;
    height: 40px;
    padding: 12px 16px 12px 42px;
    border: 1px solid var(--form-field-border);
    border-radius: 4px;
    color: inherit;
        
    transition: border 250ms var(--transition-timing-function);
}

.input-icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    width: 18px;
    height: 18px;

    transition: fill 250ms var(--transition-timing-function);
}

.form-field:focus {         
    outline: none;
    border: 1px solid var(--accent-color);
 }

.form-field:focus + .input-icon {
    fill: var(--accent-color);
}

 textarea.form-field {
    height: 120px;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;
 }

 textarea.form-field::placeholder {
    color: var(--text-placeholder);
    font-weight: inherit;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

/* Checkbox */


.checkbox-field {
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox-control {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 7px;
}

.checkbox-icon {
    display: none;
    flex-shrink: 0;
    width: 16px;
    height: 15px;
    background-color: var(--accent-color);
    fill: var(--text-color-secondary);
}

.checkbox-field:checked + .checkbox-icon {
    display: inline-block;
}

.checkbox:focus-within .checkbox-control {
    border-color: var(--accent-color);
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
        
    color: var(--text-color-primery);
    font-weight: inherit;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.checkbox-text {
    margin-right: 5px;
}

.checkbox-link {
    color: var(--accent-color);
    text-decoration: underline;
}

.form-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    padding: 10px 0;

    color: var(--text-color-secondary);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms var(--transition-timing-function);
}

.form-button:hover,
.form-button:focus {
    background-color: var(--accent-color-hover);
}
