.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &__item:not(:last-of-type) {
        margin-right: 8px;
}

    &__button {
        color: $title-text-color;
        background-color: $background-filter-features;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;

        padding: 6px 22px;
        border: none;

        transition: color 250ms $transition-timing-function,
            background-color 250ms $transition-timing-function,
            border-radius 250ms $transition-timing-function,
            box-shadow 250ms $transition-timing-function;
}

    &__button:hover,
    &__button:focus {
        color: $text-color-secondary;
        background-color: $accent-color;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
}