.page-footer {
    background-color: $background-footer;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    &__container {
        display: flex;
        color: $text-color-secondary;
        padding: 60px 0;
}

    &__address {
        min-width: 216px;
}

    &__logo {
        color: $text-color-secondary;
        display: inline-block;
        margin-bottom: 20px;
}

    &__location {
        color: $text-color-secondary;
        font-style: normal;
        margin-bottom: 9px;
}

    &__contact {
        display: block;

        &:not(:last-of-type) {
            margin-bottom: 9px;
}
    }


    &__contact-link {
        color: $text-address-color;
}

    &__socials-title {
        display: inline-block;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;

        margin-bottom: 20px;
}

    &__socials {
        margin-left: 70px;
        margin-top: 12px;
}  
}
