.cases {
    padding: 0;
    margin-bottom: 94px;

    &-list {
        display: flex;
        justify-content: space-between;

        &__item {
            position: relative;
}

        &__title {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            color: $text-color-secondary;
            text-align: center;
            font-size: 14px;
            line-height: 1.17;
            text-transform: uppercase;

            padding: 27px 0;
            background-color: $cases-overlay;
}
}
}